<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OTP REQUEST</h1>
    <h2>Dear User, Thanks for choosing FRESCO. We are honored.</h2>
    <h4>Please enter this OTP to successfully verify your email addrees. This token will only last for 2 minutes.</h4>
    <br>
    <br>
    <span>{{otp}}</span>
</body>
<script>
</script>
</html>